*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to bottom, rgba(0,150,136,255) 20vh, rgba(219,219,211,255) 20vh);
    overflow: hidden;
    font-family: 'Lato', sans-serif;;
}
.altezza-vh{
    height: 100vh;
                              
}

.a{
    background-color: white;
}
.b{
    background-image:url("../img/mine.jpg");
    position: relative;
}
.altezza-fissa{
   height: 90%;
   
}
/* pagina sinistra */
.immagine-utente{
    border-radius: 50px;
}
.bg-color-grigio{
    background-color: rgba(234,234,234,255);
    
}
.bg-color-celeste{
    background-color: rgba(142,218,252,255);
}
.campanella{
    background-color: white;
    border-radius: 60px;
    padding: 14px 12px;
    font-size: 20px;
}
.notifiche-desktop{
    color: grey;
    text-decoration: underline;
    font-size: 12px;
    
}
.bg-color-bianco{
    background-color: white;
}
.radius-0{
    border-radius: 0px;
}

.messaggio-sidebar{
    font-size: 12px;
    color: grey;
}
.padding-0{
   padding: 0;
}
li:hover{
    background-color: rgba(182, 182, 182, 0.486);
}
/* pagina destra */
.altezza{
    height: 61px;
}
.w-img{
    width: 75%;
}
#margin-0{
    margin: 0;
}
.smile-mic{
    font-size: 20px;
}
.posizione{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.inviato{ 
    clear: both;
    float: right;
    background-color: rgba(214,249,187,255);
    padding: 10px;
    padding-right: 50px;
    border-radius: 10px;
    max-width: 45%;
    
}

.ricevuto{
    clear: both;
    float: left;
    background-color: white;
    padding: 10px;
    padding-right: 50px;
    border-radius: 10px;
    max-width: 45%;
    
}
.orario-mess{
    position: absolute;
    right: 10px;
    font-size: 8px;
    bottom: 2px;
    color: grey;
}
.p-relative{
    position: relative;
}



