<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div id="app">
        <main>
                <div class="container altezza-vh">
                    <div class="row d-flex altezza-fissa justify-content-center mt-5">
                        <!-- pagina sinistra -->
                        <div class="col-4 a">
                            <div class="row bg-color-grigio py-1">
                                <div class="col-6 ">
                                    <div>
                                        <img class="w-25 align-middle immagine-utente mt-1" src="./img/avatar_io.jpg" alt="">
                                        <span class="ms-1 align-middle">Sofia</span>
                                    </div>
                                </div>
                                <div class="col-6 d-flex justify-content-end align-items-center">
                                    <div class="">
                                        <i class="fa-solid fa-circle-notch" style="color: rgba(177,177,177,255);"></i>
                                        <i class="px-3 fa-solid fa-message" style="color: rgba(177,177,177,255);"></i>
                                        <i class="fa-solid fa-ellipsis-vertical" style="color: rgba(177,177,177,255);"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="row bg-color-celeste py-2">
                                <div class="col-2 ">
                                    <div>
                                        <i class="campanella  fa-solid fa-bell-slash" style="color: rgba(142,218,252,255)"></i>
                                    </div>
                                </div>
                                <div class="col-10 ">
                                    <div>
                                        <span class=" align-middle">Ricevi notifiche di nuovi messaggi</span> <br>
                                        <span class="notifiche-desktop align-middle">Attiva notifiche desktop</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row bg-color-bianco">
                                <div class="col-12 input-group my-1">
                                    <span class="bg-color-bianco radius-0 px-4 input-group-text" id="basic-addon1"><i class=" fa-solid fa-magnifying-glass" style="color: rgba(177,177,177,255);"></i></span>
                                    <input type="text" class="radius-0 form-control" placeholder="Cerca o inizia una nuova chat"  aria-describedby="basic-addon1" v-model="search" @keyup="searchChat()">
                                </div>

                            </div>
                            <div class="row bg-color-bianco">
                                    <ul class="w-100 list-group list-group-flush padding-0 ">
                                        <li v-show="contact.visible" @click="selectChat(index)" v-for="(contact, index) in contacts" :key="index" class="list-group-item ">
                                            <div class="d-flex">
                                                <div class="col-2 ">
                                                    <div>
                                                        <img class="w-75 immagine-utente" :src="contact.avatar" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-10 ">
                                                    <div>
                                                        <span class="align-middle">{{contact.name}}</span> <br>
                                                        <span class="messaggio-sidebar align-middle">{{contact.messages[contact.messages.length - 1].message}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                            </div>
                        </div>
                        <!-- pagina destra -->
                        <div class="col-7 b ">
                            <div class="row bg-color-grigio py-1 altezza">
                                <div class="col-6 altezza">
                                    <div class="row">
                                        <div class="col-2 padding-0 text-center">  
                                            <img class="w-img align-middle immagine-utente mt-1" :src="contacts[activeChat].avatar" alt="">                                    
                                        </div>
                                        <div class="col-10 padding-0">
                                            <div class="pt-2">
                                                <span class=" align-middle">{{contacts[activeChat].name}}</span> <br>
                                                <span class="messaggio-sidebar align-middle">Ultimo accesso {{orario.slice(0,16)}}</span>
                                            </div>
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-6 d-flex justify-content-end align-items-center"> 
                                    <div class="">
                                        <i class="fa-solid fa-magnifying-glass" style="color: rgba(177,177,177,255);"></i>
                                        <i class="px-3 fa-solid fa-paperclip" style="color: rgba(177,177,177,255);"></i>
                                        <i class="fa-solid fa-ellipsis-vertical" style="color: rgba(177,177,177,255);"></i>
                                    </div>
                                </div>
                            </div>


                            <!-- Chat -->
                            <div class="row">
                                <div class="col-12 mt-5  ">
                                    <!--v-for="contact, index in contacts" :class="contact.messages[0].message == sent ? 'inviato' : 'ricevuto' -->
                                    <div class="hover-drop mb-3 p-relative" v-for="message, index in contacts[activeChat].messages" :class="message.status == 'sent' ? 'inviato' : 'ricevuto' ">
                                        <span class="pe-5">{{message.message}} 
                                        </span>
                                        <div class="dropdown text-start">
                                            <span class="bg-button">&#9662;</span>
                                            <div class="dropdown-content">
                                                <a href="#">Info messaggio</a>
                                                <a href="#"  @click="removeText(index)">Cancella messaggio</a>
                                            </div>
                                        </div>
                                        <div class="orario-mess" >
                                           
                                            {{message.date.slice(10,16)}} 
                                        </div>
                                     
                                    </div>
                                    
                                </div>
                            </div>
 

                            
                            <div class="row bg-color-grigio posizione">
                                <div class="col-1 d-flex align-items-center justify-content-end smile-mic">
                                    <i class="fa-regular fa-face-smile" style="color: rgba(107,116,119,255);"></i>
                                </div>
                                <div class="col-10 my-2">
                                    <div class="input-group ">
                                        <input v-model="newMessage" type="text" class="form-control" placeholder="Scrivi un messaggio" aria-label="Username" aria-describedby="basic-addon1" @keyup.enter=" getNow(), sentMessage(), receivedMessage()">
                                    </div>
                                </div>
                                <div class="col-1 d-flex align-items-center smile-mic">
                                    <i class="fa-solid fa-microphone" style="color: rgba(107,116,119,255);"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </main>
        
        
        
        
        
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/script.js"></script>
</body>
</html>